*.tgz
mongodb/**
mongodb/*
mongodb/mongodb-linux-x86_64-ubuntu2204-6.0.12/bin/*
Trace*
mongodb/data/db/journal/WiredTigerPreplog.0000000002
mongodb/mongodb-linux-x86_64-ubuntu2204-6.0.12.tgz
mongodb/mongodb-linux-x86_64-ubuntu2204-6.0.12/bin/mongos
mongodb/data/db/journal/WiredTigerLog.0000000001
mongodb/mongodb-linux-x86_64-ubuntu2204-6.0.12/bin/mongod
mongodb/
base_models/mongodb
..bfg-report
.git.bak
mongodb_data
retraining_models1/checkpoint-5
retraining_models1/model_20241220_200428
retraining_models1/model_20241220_211206
a.py
model.cache
bfg-1.13.0.jar
celerybeat-*
base_models/*
requirements_old.txt
training_args.txt
test.py
package_list.txt
new.py
dpo_clean_mlflow.py
data.txt
mlrequirements.txt
bfg-1.13.0.jar
.dockerignore
wandb/*
.git.bak
..big-report
.gitattributes
.netrc
=1.12.0
=4.28.0
a.py
# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class
# IDE
.idea/
.vscode/

# Environment variables
.env

Datacollector/migrations/*
Datacollector/__pycache__/
Datacollector/migrations/__pycache__/
Datacollector/mlruns/*
Datacollector/services/__pycache__/
Datacollector/services/mlruns/*
Datacollector/services/wandb/*
Datacollector/services/dataset_create_backup.py
Datacollector/services/test_inference.py
Datacollector/wandb
Datacollector/services/mlruns
TABuddy/migrations/*
TABuddy/services/__pycache__
wandb/*
TABuddy/utils/temp_dir
TABuddy/services/__init__.py